*{
	font-family: 'Villeray';
	font-size:17px;
	letter-spacing: 1px;
}

/*------------------------Inicio Animacion Loader--------------------------*/
#preloader{
	position: fixed;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	background-color: white;
	z-index: 300;
}
.loader {
  position: absolute;
  top: 50%;
  left: 48%;
}

.line {
  animation: expand 1s ease-in-out infinite;

  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
}

.line:nth-child(1) {
  background: #34CBCD;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #CD0068;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #FFCC00;
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: #34CC68;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}
/*------------------------Fin Animacion Loader--------------------------*/

/*------------------------Inicio Animacion Flecha Scroll--------------------------*/

.bounce a {
  color: white;
  text-decoration: none;
}
.bounce a:hover{
	color:#2199e8;
}
.arrow {
  text-align: center;
  color:white;
  padding: 5px;
  position:absolute;
  margin: 0 auto;
  width: 100%;
	top: 90vh;
	z-index: 200;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.bounce:hover{
	animation: none;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

/*------------------------Fin Animacion Flecha Scroll--------------------------*/



@media screen and (max-width: 799px) {
	#video-intro{
		display: none;
	}
	#img-intro{
		display: inline-block;
		width: 55%;
		margin-left: 23%;
		margin-top: 1em;
		padding-bottom: 3em;
	}
	#btn-logo{
		width: 2.5em;
        padding: .3em;
        padding-top: .5em;
        padding-bottom: .5em;
		position: fixed;
		left:1em;
		top:1em;
		border-style: solid;
		border-color: white;
		border-width: 2px;
		border-radius: 150px;
		background-color: #808080;
		z-index: 99;
	}
	#btn-logo:hover{
		border-color: green;
        cursor: pointer;
	}
    header{
        display: none;
        height: 100vh;
        width: 100%;
        background-color: rgba(130,130,130,.8);
        padding-top:10vh;
        padding-bottom: 10vh;
        padding-left: 15%;
        padding-right: 15%;
        position: fixed;
        z-index: 100;
    }
    .movil-menu{
    	background-color: white;
    	padding: 5%;
    	text-align: center;
    	position: relative;
    }
    .movil-menu-head{
    	padding: 30px;
    }
    .movil-menu-head h1{
    	border-style: solid;
    	border-color: #CD0068;
    	border:1;
    	border-top: 0;
    	border-left: 0;
    	border-right: 0;
    }
    .movil-menu-head i{
    	position: absolute;
    	top:15px;
    	right: 15px;
    	padding: 10px;
    }
    .movil-menu-head i:hover{
    	cursor: pointer;
    }
    .movil-menu-item{
    	margin-bottom: 1em;
    }
    .movil-menu-item:hover{
    	cursor: pointer;
    	background-color: rgba(130,130,130,.1);
    	color: black;
    }
    .movil-menu-footer{
    	color:grey;
    	margin-top: 40px;
    	margin-left: 20px;
    	margin-right: 20px;
    	padding-top: 10px;
    	margin-bottom: 1em !important;
    	border-style: solid;
    	border-color: #FFCC00;
    	border:1;
    	border-bottom: 0;
    	border-left: 0;
    	border-right: 0;
    }
    .cuadroPie{
		width: 25%;
		float: left;
		text-align: center;
		color:white;
		padding-top: .1em;
		padding-bottom: .1em;
	}
	.arrow{
		display: none;
	}
    .borde-solido{
        display: none;
    }
    .colores-solido{
        display:none;
    }
    .block1,.block2,.block3{
		position: relative;
		z-index: 3;
		top: 0;
	}
	.block1{
		text-align: justify;
	}
    .icono{
		text-align: center;
		width: 40%;
		margin: 0 auto;
		margin-bottom: 2em;
		margin-top: 2em;
	}
    .block1 span{
		font-size: 2em;
		display: inline-block;
		border-style: solid;
		border: 3px;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		margin-top: 1em;
		margin-bottom: 0.7em;
		border-style: solid;
		border-radius: 100px;
		width: 2.2em;
	}
    
	.block2 .plan{
		border-style: solid;
		border-width: 2px;
		border-color: red;
		text-align: center;
		position: relative;
        margin-top:2em;
	}
	.block2 .plan:hover{
		border-style: dashed;
	}
	.block2 .plan span{
		font-size: 3em;
		display: inline-block;
		border-style: solid;
		border-color: red;
		border: 3px;
		padding-top: .1em;
		padding-bottom: .2em;
		width: 2.2em;
	}
	.block2 .plan p{
		font-size: 1.2em;
	}
	.block2 li{
		text-align: center;
		list-style: none;
		margin-left: -15px;
		margin-right: -15px;

	}
	.block2 .precio-plan{
		padding-top: 1.5em;
		width: 100%;
		left: 0;
	}
	.block2 .plan .titulo-plan{
		font-size: 1.5em;
	}
	.block2 a{
		color: grey;
		text-decoration: underline;
		font-size: .8em;
		font-weight: bold;
		width: 100%;
		padding-top: 10px;
		padding-bottom:5px;
        margin-bottom:1em;
	}
	#li-soporte{
		margin-bottom: 0 !important;
	}
    #block3 p{
        text-align: justify;
    }
    #block3 #titulo-financiamiento{
        font-size: 1em;
        color:#2199e8;
        margin-top:2em;
        text-align: right;
    }
    #block3 #sub-financiamiento{
    	font-size: 1em !important;
    	color:grey !important;
    	font-style: italic !important;
    }
    .block3 form{
        margin-top: 1em;
    }
    .block3 input,.block3 textarea, .block3 select{
        border-color: #2199e8;
    }
	.block3 #form-financiamiento button{
		float: right;
        background-color: #FFCC00;
        color:black;
	}
    .block3 #link-help-form a{
        color:black;
        font-size: 1em;
        top: -15px;
        text-decoration: underline;
        font-style: italic;
    }
	footer{
    	background-color: #3E4B54;
		width: 100%;	
		position:relative;
		margin-top:100px;
		display: flex;
		color:white;
		padding-top: 2em;
    }
    footer i{
    	color:grey;
    	width: 25px;
    }
    footer #ul{
    	font-size: .7em;
    	margin-top: 1em;
    	text-align: center;
    	margin-bottom: 2em;
    }
    footer a{
		margin-bottom: .3em;
    	color:grey;	
    }
    footer a:hover i,footer a:hover{
    	color:white;
    }
    footer p{
    	margin-top:.5em;
    }
    #cont-logo-footer{
		position: relative;
    }
    #logo-footer{
    	width: 30%;
    	margin-bottom: 2em;
    	margin-left: 35%;
    }
	footer input, footer textarea{
		font-size: .9em !important;
		height: 2.2em !important;
		width: 100% !important;
		margin-bottom: 5px !important;
	}
	footer label,footer .help-text{
		color: grey;
	}
	footer .help-text{
		margin-top: 3px;
		margin-bottom: 5px;
	}
	#contacto{
		padding:0 2em 2em 2em;
	}
	footer button{
		float: right;
	}
	#linksI{
		display: none;
	}
	footer i{
		padding-top: .5em;
		padding-bottom: .5em;
	}
	.titulo-footer{
		text-align: center;
	}
}	



/*------Separacion ---------------------- de ---------------------------- Media -------------------------- Querys-----*/



@media screen and (min-width: 800px) {
	header{
		display: none;
	}
	header ul li{
		list-style: none;
		float: left;
		padding: 0.5em;
		padding-top: 1.2em;
	}
	header ul{
		position: fixed;
		z-index: 99;
		float: left;
		right: 0;
		margin-right: 2em;
	}
	header ul li a{
		text-decoration: none;
		color: white;
	}
	header h1{
		position: fixed;
		z-index: -101;
	}
	#video-intro{
		display: inline-block;
	}
	#img-intro{
		display: none;
	}
	#btn-logo{
		display: none;
	}
	li span{
		font-size: 2em;
	}
	.borde{
		background-color: rgba(255, 255, 255, 0.1);
		position: fixed;
		z-index: 2;
		width: 25%;
		top:0;
		bottom: 0;
		color: white;
		height: calc(100vh - 40px);
	}
	.borde ul a{
		text-decoration: none;
		color: white;
	}
	.borde ul{
		width: 100%;
		margin:0;
	}
	.borde li{
		list-style: none;
		padding-bottom: 5px;
		padding-left: 10%;
	}
	.borde li:hover{
		background-color: rgba(250,250,250,.7);
	}
	.borde #logo{
		animation: solido-trans 1s ease-in-out;
		width: 80%;
		height:45vh;
		margin:3em auto;
		margin-top: 1.5em;
		margin-bottom: 4em;
	}
	.borde #logo img{ 
		position:absolute;
		width: 85%;
		top: 0;
		-moz-transition: all 1s ease-in-out;
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	.borde #logo img.novisible{
		opacity:0;
		filter:alpha(opacity=0);
	}
	.borde #logo img.visible:hover {
		opacity:0;
		filter:alpha(opacity=0);
	}
	.borde-solido{
		background-color: #fff;
		color:black;	
	}
	.borde-solido ul{
		margin-top: 3em;
	}
	.borde-solido ul a{
		color: black;
	}
	#logo img{
		width: 100%;
		margin-top: 5em;
	}
	.colores{
		position: fixed;
		bottom: 0;
		z-index: 2;
		width: 25%;
		text-align: center;
	}
	.colores span{
		color: white;
		font-size: 1.7em;
		display:none;
	}
	.cuadroPie{
		width: 25%;
		height: 15px;
		float: left;
	}
	.colores-solido span{
		display:inline;
	}
	.colores-solido .cuadroPie{
		height: 40px;
	}
	.block1,.block2,.block3{
        position: relative;
		z-index: 3;
		top: 0;
		margin-left: 25%;
		width: 75%;	
		padding-top: 5em;
		padding-bottom: 5em;
		padding-right: 3em;
	}
    .block1{
        text-align: justify
    }
    .icono{
        text-align: center;
        padding:2.2em;
    }
	.block1 span{
		font-size: 3em;
		display: inline-block;
		border-style: solid;
		border: 3px;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		margin-top: 1em;
		margin-bottom: 0.7em;
		border-style: solid;
		border-radius: 100px;
		width: 2.2em;
	}
	#head-planes{

	}
	.block2{
		display: flex;
	}
	.block2 .plan{
		border-style: solid;
		border-width: 2px;
		border-color: red;
		text-align: center;
		position: relative;
	}
	.block2 .plan:hover{
		border-style: dashed;
	}
	.block2 .plan span{
		font-size: 3em;
		display: inline-block;
		border-style: solid;
		border-color: red;
		border: 3px;
		padding-top: .2em;
		padding-bottom: .6em;
		width: 2.2em;
	}
	.block2 .plan p{
		font-size: 1.2em;
	}
	.block2 li{
		text-align: center;
		list-style: none;
		margin-left: -15px;
		margin-right: -15px;

	}
	/*.block2 li:nth-child(odd){
		background-color: rgba(210, 12, 112, .2);
	}
	.block2 li:nth-child(even){
		background-color: rgba(210, 12, 112, .1);
	}*/
	.block2 .precio-plan{
		padding-top: 3em;
		position: absolute;
		bottom: 1.2em;
		width: 100%;
		left: 0;
	}
	.block2 .plan .titulo-plan{
		font-size: 1.5em;
	}
	.block2 a{
		color: grey;
		text-decoration: underline;
		font-size: .8em;
		font-weight: bold;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 5px;
	}
    .block3 p{
        text-align: justify;
    }
    #block3 #titulo-financiamiento{
        font-size: 1.2em;
        font-weight: bold;
        color:#2199e8;
        margin-top:.5em;
        text-align: right;
    }
    #block3 #sub-financiamiento{
    	text-align: right;
    	font-size: .8em !important;
    	color:grey !important;
    	font-style: italic !important;
    	padding-bottom: 1em;
    }
    .block3 input,.block3 textarea, .block3 select{
        border-color: #2199e8;
    }
    .callout{
    	padding: 3px !important;
    	text-align: center;
    	font-size: .8em;
    }
	.block3 #form-financiamiento button{
		float: right;
        background-color: #FFCC00;
        color:black;
	}
    .block3 #link-help-form a{
        color:black;
        font-size: 1em;
        top: -15px;
        text-decoration: underline;
        font-style: italic;
    }
	
	footer{
    	background-color: #3E4B54;
		width: 100%;	
		position:relative;
		margin-top:100px;
		display: flex;
		color:white;
		padding-top: 2em;
    }
    footer i{
    	color:grey;
    	width: 25px;
    }
    footer #ul{
    	font-size: .7em;
    	margin-top: 3em;
    }
    footer a{
		margin-bottom: .3em;
    	color:grey;	
    }
    footer a:hover i,footer a:hover{
    	color:white;
    }
    footer p{
    	margin-top:.5em;
    }
    #logo-footer{
    	margin:4em auto;
    }
	footer input, footer textarea{
		font-size: .9em !important;
		height: 2.2em !important;
		width: 100% !important;
		margin-bottom: 5px !important;
	}
	footer label,footer .help-text{
		color: grey;
	}
	footer .help-text{
		margin-top: 3px;
		margin-bottom: 5px;
	}
	#contacto{
		padding:0 2em 2em 2em;
	}
	footer button{
		float: right;
	}
	footer .imgInteres{
		width: 60%;
		margin: auto;
		margin-left: 19%;
		padding-bottom: .5em;
	}
	footer .imgInteres{
		filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
		filter: Gray(); /* IE4-8 and 9 */

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	footer .imgInteres:hover{ 
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: none;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	footer i{
		padding-top: .5em;
		padding-bottom: .5em;
	}
}


/*Video*/
video , #capa{
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    right: 0;
    width: 100%;
    z-index: -100;
    top: 0;
    margin-top: -3em;
}


/*Error*/
.blockError{
	margin-top: 2em;
}
#errorT{
	margin-top: 1em;
	font-size: 2em;
	font-weight: bold;
	color:orange;
}